<template name="admin">
    <div>
        <div class="row">
            <div class="col s12 m5 l3">
                <div>
                    <ul style="width: 240px;" id="nav-mobile" class="side-nav fixed">
                        <li class="bold"><a href="#" class="waves-effect waves-teal admin-utama">Home</a></li>
                        <li class="bold"><a href="#" class="waves-effect waves-teal daftar-user">Daftar User</a></li>
                        <li class="bold"><a href="#" class="waves-effect waves-teal logout">Log Out</a></li>
                    </ul>
                </div>
            </div>
            <div class="col s12 m12 l9" style="width: 100%">
                <!-- Teal page content  -->
                {{#if showDaftarUser}}
                    {{>daftar_user}}
                {{else}}
                    {{>admin_main}}
                {{/if}}
            </div>
        </div>
    </div>
</template>
<template name="admin_main" >
    <div class="container left-margin-content">
