<template name="loginAdmin">
    <div class="loginAdmin valign-wrapper">
        <div class="container valign">
            <div class="row">
                <div class="col s12 m4 l2"><p></p></div>
                <div class="col s12 m4 l8">
                    <div class="card card-custom">
                        <div class="container">
                            <div class="col s12 m4 l2"><p></p></div>
                            <div class="col s12 m4 l8"><img src="/images/BLlogoIcon.png" id="logoIconLogin"/></div>
                            <div class="col s12 m4 l2"><p></p></div>
                            <form class="form-login">
                                <div class="row">
                                    <div class="input-field col s12" >
                                        <input id="email" type="email" class="validate">
                                        <label for="email">Email</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="password" type="password" class="validate">
                                        <label for="password">Password</label>
                                    </div>
                                </div>
                                <button class="btn waves-effect waves-light" type="submit" name="action" id="cekAdmin">Login
                                    <i class="mdi-content-send right"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4 l2"><p></p></div>
            </div>
        </div>
    </div>
</template>